### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
node_modules/*
config/index.js
public/assets
sync-s1.sh
out
gen
# Created by .ignore support plugin (hsz.mobi)
