<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七牛web文件管理</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1464943112_6638157.css">
</head>
<body>

<div id="body"></div>

<input type="hidden" id="init_data" value="{{ INIT_DATA | json2str }}">
<script>
    window.INIT_DATA = JSON.parse(document.getElementById('init_data').value);
</script>
<script src="http://localhost:8082/webpack-dev-server.js"></script>
<script src="http://localhost:8082/assets/index.js"></script>
</body>
</html>